/*************************/
/* GENERAL REUSABLE COMPONENTS */
/************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #1a140d;
}

.heading-primary {
  font-size: 4.4rem;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 3.2rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  /* margin-bottom: 3.2rem; */
}

.heading-primary span {
  display: block;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
}


/*************************/
/* HEADER */
/************************/

.header {
  height: 8rem;
  padding: 0 4.8rem;

  background-color: #e6e0d9;
  display: flex;
  align-items: center;
  justify-content: center;


  position: sticky;
  top: 0;
  z-index: 40;  
  border-bottom: 0.5px solid #d9d1c7;
}

/*************************/
/* NAVIGATION */
/************************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #998369;
}



/*************************/
/* ABOUT  SECTION */
/************************/

.cta-link--icon {
  height: 3rem;
  width: 3rem;
  color: #1a140d;
}

.heading-primary {
  margin-left: 1.2rem;
}

.hero-description {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 1.2rem;  
  /* margin-bottom: 8rem; */
}


/*************************/
/* SKILL */
/************************/

.section-skill {
  background-color: #f2f0ec;
  padding: 4.8rem 0 6.4rem 0;
}

.skill-description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.skill {
  padding: 3.2rem 2rem 2rem 2rem;
  border: #d9d1c7 solid 1px;
  border-radius: 15px;
}

.heading-title {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.skill-subheading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.list-item,
.list-item--tool {
  gap: 1.6rem;
  margin-bottom: 2rem;
}

.list-item {
  display: flex;
  align-items: start;
  /* margin-left: 1.2rem; */
}

.list-item--tool {
  display: flex;
  align-items: top;
  align-items: start;
}

.list-item span,
.list-item--tool span {
  font-size: 1.6rem;
  font-weight: 500;
}
.list-item p,
.list-item--tool p {
  font-size: 1.3rem;
}

.list-item ion-icon,
.list-item--tool ion-icon {
  color: #806443;
}





/*************************/
/* FOOTER */
/************************/
.footer {
  padding: 3.2rem 0;
  background-color: #f2f0ec;
  border-top: 0.5px solid #d9d1c7;
}

.copyright,
.name {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #333;
  margin-top: auto;
}
.name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #1a140d;
}
.footer-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2.4rem;
}